<h2>従業員情報設定 管理者用</h2>

<%= form_for @employee do |f| %>
    <div class="emed-form">
        時給<br>
        <%= f.number_field :wage, step: 100 %>
    </div>
    <div class="emed-form">
        休憩時間<br>
        <%= f.number_field :break_time %>
    </div>
    <div class="emed-submit">
        <%= f.submit "設定" %>
    </div>
<% end %>